
button.connexion {
    background-color: #4CAF50;
    padding: 8px 8px;
   }

button.cancelbtn {
    width: auto;
    padding: 8px 8px;
    background-color: #f44336;
}


button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

#connexion {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

#formulaireConnexion {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
    height: 40%;
}
